<header id="main-header">
  <div id="logo">
    <a href="/">Student Details</a>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/all-students">All Students</a>
      </li>
      <li>
        <a href="/new">Create Student</a>
      </li>
    </ul>
  </nav>
</header>